body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  color: #222;
  text-align: center;
  padding: 80px;
}

h1 {
  color: #0b3d91;
}

p {
  font-size: 18px;
}

button {
  background: #0b3d91;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #062b66;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-align: left;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  margin-bottom: 15px;
  color: #1e3a8a;
}

.card p {
  color: #555;
  line-height: 1.6;
}
.logo {
  font-size: 28px;
  font-weight: bold;
}

.logo span {
  color: #60a5fa;
}.hero {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
